<main class="song_show">
  <div class="left">
    <%= @html.html_safe %>
  </div>
  <div class="right">
    <!-- <div class="button">
      button
    </div> -->
    <button class="toggle_format">Show Both</button>
  </div>

</main>

<script>

</script>


