body{
  background-color:$white;
  font-family: "Montserrat", Helvetica, Arial, san-serif !important;
  margin: 0;
  @include span-columns(12);
}
header{
  height: 50px;
  @include span-columns(12);
  background-color: $main-purple;
  line-height: 3rem;
}

.main_container{
  @include outer-container;
}
main{
  padding: 2rem;
  margin: 3rem 0;
}

.song_formatter{
  $visual-grid: true;
  section {
    @include span-columns(6);
    @include media($tablet) {
      width: 100%;
    }
  }

  textarea {
    // flex-direction: column;
    // display: flex;
    width: 100%;
    height: 600px;
    @include align-items(stretch);
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(flex-start);

    @include media($tablet) {
      height: 200px;
    }
  }
}


