pre{
  font-family:inherit;
}
.line{
  position:relative;
}

.styled{
  position: absolute;
  top:-20px;
  color:plum;
  font-weight: bold;
  font-family:inherit;
}

.chord{
  position: absolute;
  top:-20px;
  color:plum;
  font-weight: bold;
  font-family:inherit;
}