// colors
$red: tomato;
$light-gray: #eee;
$dark-gray: #5A5A5A;
$white: #fff;
$main-purple: #61619C;
$light-purple: #8C7198;
$dark-purple: #504455;
$seagreen: #47745A;
$yellow: #E7A832;

$pastel-light-green: #E9EBC6;
// paddings